.palette-container {
  width: 100%;
  margin-top: 25px;
  display: flex;
  justify-content: space-evenly;
}

.palette-item {
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.completed-item {
  height: 40px;
  width: 40px;
}
