.app-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 80%;
  margin: 0px auto;
}

.image-carousel {
  margin-top: 20px;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.carousel-item {
  display: inline-block;
  cursor: pointer;
}

.carousel-img {
  margin: 10px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;

}

.carousel-img.selected {
  outline: 5px solid #646cff;
}
