.app-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 80%;
  margin: 0px auto;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.instructions-container {
  display: inline-block;
  text-align: left;
}

.instructions-item {
  margin-top: 5px;
}

.image-carousel {
  margin-top: 20px;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.carousel-item {
  display: inline-block;
  cursor: pointer;
}

.carousel-img {
  margin: 10px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;

}

.carousel-img.selected {
  outline: 5px solid #646cff;
}

input {
  margin: 5px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #5e5e5e;
  cursor: pointer;
  transition: border-color 0.25s;
}
input:hover {
  border-color: #646cff;
}
input:focus,
input:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.palette-container {
  margin-top: 10px;

  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}
